*{
    margin: 0;
    padding: 0;

}
html{
    height: 100%;
    width: 100%;

}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    overflow: hidden;
    /* background-color: black; */
    color: aliceblue;
    font-family: "spaceFont1",sans-serif;;
}
header #logo{
    width: 15%;
    height: 100%;
}
header #logo img{
    width: 130px;
    height: 100px;
}
header #titre{
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}
header #menu{
    color: aliceblue;
    font-family: "spaceFont1",sans-serif;;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li{
    padding-right: 40px;
}
nav ul a{
    text-decoration:none;
    color: aliceblue;
    font-family: "spaceFont1",sans-serif;
    transition: transform 0.5s ease-in-out;
}
.line{
    width: 0px;
    height: 3px;
    background-color: aliceblue;
    margin-top: 2px;
    transition: width 0.3s ease-in-out;
}
li:hover > .line{
    width: 100%;
}
body{
    background-image: url("src/nightSky2.jpg") ;
    height: 100%;
    width: 100%;
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */;
}
/*------------------------------------------------*/
#mainContainer{
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgb(16, 16, 16);
}
#mainContainer th,td{
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    height: 150%;
}
  
table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
table tr{
    height:80px;
}

table th {
    background-color: rgb(28, 74, 102);
}

table tbody tr:hover {
    background-color: rgb(28, 74, 102);
    color: black;
}

/*-----------------------------------------------*/

footer{
    color: aliceblue;
    font-family: "spaceFont1",sans-serif;;
    position: fixed;
    height: 25%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("src/justMontains.png") ;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
@font-face {
    font-family: "SpaceFont1";
    src: url("src/fonts/SpaceGame-ywxX2.ttf") format("truetype");
}