/*-----------------Header-------------------*/
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: "spaceFont1",sans-serif;;
}

html{
    height: 100%;
    width: 100%;

}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
}
header #logo{
    width: 15%;
    height: 100%;
}
header #logo img{
    width: 130px;
    height: 100px;
}
header #titre{
    display: flex;
    align-items: center;
    font-size: 1.8em;
    height: 100%;
    width: 35%;
}
header #menu{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li{
    padding-right: 40px;
}
nav ul a{
    text-decoration:none;
}
.line{
    width: 0px;
    height: 3px;
    background-color: aliceblue;
    margin-top: 2px;
    transition: width 0.3s ease-in-out;
}
li:hover > .line{
    width: 100%;
}

/*-----------------Footer-------------------*/
footer{
    position: fixed;
    height: 25%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("src/justMontains.png") ;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
@font-face {
    font-family: "SpaceFont1";
    src: url("src/fonts/SpaceGame-ywxX2.ttf") format("truetype");
}

/*-----------------body-------------------*/
.boxVide{
    background-color: rgba(17, 17, 17, 0);
    width: 70%;
    min-height: 40%;
    max-width: 1000px;
    margin-top: 25px;
    border-radius: 25px;    
}

/*----------------Réseaux--------------------*/
.logo{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.icons {
    position: absolute;
    bottom: 10px;
    right: 10px;

    margin: 15px;
    display: flex;
    column-gap: 25px;
}
.icon {
  background-color:black;
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid black;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}
.icon:hover {
    outline-offset: 4px;
}
.icon i {
    margin: auto;
}
.icon:hover i {
    animation: shake 0.25s;
}
.icon--instagram:hover {
    background-image: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    outline-color: #a02d76;
}
.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
#buttonJaime{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#divTest{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left:15px;
}
#nombre{
    font-size: 1em;
    margin-right: 15px;
}
#btn {
    max-height: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  #btn:hover,#btn:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}
@media screen and (max-width:800px) {
    header #titre{
        font-size: 0.8em;
        margin-left: 10px;
        margin-top: -15px;
        width: 25%;
    }
    header #logo{
        width: 20%;
        height: 100%;
    }
    header #logo img{
        width: 90px;
        height: 70px;
        
    }
    #menu{
        max-width: 50%;
    }
    #menu ul{
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li{
        padding: 0;
        font-size: 0.8em;
    }
    footer{
        height: 150px;
    }
    .icon{
        height: 40px;
        width: 40px;
    }


}