body {
    background-image: url("src/nightSky2.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    /* Fixe l'image pendant le scroll */
    background-size: cover;
    /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center;
    /* Centre la position de l'image */
    background-repeat: no-repeat;
    /* Empêche l'image de se répéter en fonction de la taille d'écran */
    ;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;

}

#mainContainer p {
    font-family: Century Gothic, sans-serif;
    font-size: 25px;
    margin: 50px;
    line-height: 1.5;
    text-align: center;
}

form input,
label {
    color: black;
    font-family: Century Gothic, sans-serif;
    font-size: large;
}

form input {
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#illustrationTelescope {
    width: 30%;
    height: 40%;
    background-image: url("src/illustrationTelescope.jpg");
    background-size: 100% 100%;

}

.box {
    /* background-image: url("../style/src/J.L.-DAUVERGNECiel-et-Espace-850-00030-07high_001_autorisée-501x600.jpg");
    background-size: 100% 100% ; */
    background-color: rgba(17, 17, 17, 0.7);
    width: 70%;
    min-height: 50%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
    display: flex;

}

.box:hover{
    border: solid 1px aliceblue;
}

.box p,
label,
input {
    color: aliceblue;
    display: block;
}

#boxLeft {
    width: 50%;
    height: 100%;
    margin: 0px;
}

#boxRight {
    margin: 0px;
    width: 50%;
    height: 100%;
}

.imageContainer {
    width: 100%;
    height: 100%;
    background-size: 180% 100%;
    background-position: center;
    transition: all 0.3s ease-in;

}

#boxLeftIllustration {
    background-image: url("../style/src/box1Ilustration.jpg");
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#observatoire {
    background-image: url("../style/src/obsvatoire.jpg");
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#adherent{
    background: url("../style/src/téléchargement.webp") ;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-position: 50% 50%;}
.imageContainer:hover{
    background-size: 200% 120% ;
}

@media screen and (max-width:800px) {
    #mainContainer p{
        margin: 10px;
        font-size:80%;
    }
    .box{
        min-height: 33%;
    }
    p{
        margin-top: 50px;
    }
    .imageContainer{
        background-size: 300% 100% ;
    }
}